atlas-resources-generator/src/main/kotlin/com/architect/atlasResGen/intellisense/stringsDefs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AtlasStrings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="string" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="route" type="xs:string" use="required"/>
                        <xs:attribute name="viewModel" type="xs:string" use="required"/>
                        <xs:attribute name="params" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>